<<<<<<< HEAD
<p><label>Example setting</label><%= text_field_tag 'settings[sample_setting]', @settings['sample_setting'] %></p>

<p><label>Foo</label><%= text_field_tag 'settings[foo]', @settings['foo'] %></p>
=======
<p><label>Example setting</label><%= text_field_tag 'settings[sample_setting]', @settings['sample_setting'] %></p>

<p><label>Foo</label><%= text_field_tag 'settings[foo]', @settings['foo'] %></p>
>>>>>>> 2ee75c01099103e4f2c5413802b29fed68c39969
