<<<<<<< HEAD
<h3>Sample block</h3>

You are <strong><%= h(User.current) %></strong> and this is a sample block for My Page added from a plugin.
=======
<h3>Sample block</h3>

You are <strong><%= h(User.current) %></strong> and this is a sample block for My Page added from a plugin.
>>>>>>> 2ee75c01099103e4f2c5413802b29fed68c39969
